<h1> How many coins can you get?! </h1>
<form action="/change">
  <div class="form-group">
    <label for="change">Please enter a cent amount to know what the least amount of coins equal that amount</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Get Change!</button>
</form>
